body{
    font-family: 'Roboto', sans-serif;
    background-image:
        linear-gradient(to bottom,
        #009688 0px,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100%);
}

div.container {
    width: 80%;
    height: 95vh;
    margin: auto;
    padding: 0;
    border: 1px solid rgb(237, 234, 234);
    background-color: white;
    z-index: 3;
}

img.user-image{
    overflow: hidden;
    border-radius: 20px;
}

/* Chats section */

section#chats {
    height: 100%;
    width: 34%;
}

section.profile-user,
section#silence-notifications {
    height: 50px;
}

section.profile-user {
    background-color: #eaeaea;
}

div.user img {
    height: 35px;
}

div.user span,
section#chat span {
    font-size: .75rem;
}

div#bell {
    background-color: white;
    padding: .3rem .5rem;
    border-radius: 1.3rem;
    margin: .5rem .5rem .5rem 1rem;
}

section#silence-notifications {
    background-color: #8edafc;
}

div#bell i {
    color: #8edafc;
}

div#active_notifications span {
    font-size: .8rem;
}

div#active_notifications a,
section#start-new-chat input::placeholder {
    font-size: .7rem;
}

div#active_notifications a {
    color: #6d9398;
}

section#start-new-chat span,
section#start-new-chat input {
    background-color: white; 
    border-color: rgb(247, 247, 247);
}

section#chats-view ul,
div.message-menu ul {
    padding: 0;
    list-style-type: none;
}

section#chats-view ul li {
    padding-left: 1rem;
    border-bottom: 1px solid rgb(237, 234, 234);
}

section#chats-view ul li:hover {
    background-color: #e9ebeb;
    cursor: pointer;
}

div.user span.text-secondary {
    font-size: .6rem;
}

div.user span.message_time {
    position: absolute;
    top: 0;
    right: 10px;
}

/* Conversation section */

section#conversation {
    height: 100%;
    width: 66%;
}

section#conversation section.profile-user {
    border-left: 1px solid rgb(221, 219, 219);
}

section#chat {
    height: 100%;
    padding: 2rem 3rem;
    background-image: url('../img/mine.jpg');
}

section#chat span.time {
    font-size: .5rem;
    position: absolute;
    right: 5px;
    bottom: -1px;
}

div.message {
    padding: .5rem .75rem;
    width: 42%;
    border-radius: 8px;
    margin-top: 1rem;
    position: relative;
    line-height: .85rem;
}

div.receive-message {
    background-color: white;
    justify-content: start;
}

div.sent-message {
    background-color: #d5f9ba;    
    margin-left: auto;
}

div.message-menu {
    background-color: white;
    opacity: .8;
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 70px;
    border-radius: 10px;
}

div.message-menu ul li {
    font-size: .75rem;  
    cursor: pointer;
}

div.message-menu ul li:first-child {
    margin-bottom: .5rem;
}  

section#new-message div {
    background-color: #f3eeea;
}

section#new-message div input {
    border-radius: 10px;
}

section#new-message div span {
    border: none;
    background-color: #f3eeea;
}
