body{
    font-family: 'Roboto', sans-serif;
}

div.container {
    /* background-color: magenta; */
    width: 80%;
    height: 95vh;
    margin: auto;
    padding: 0;
}

img.user-image{
    overflow: hidden;
    border-radius: 20px;
}

section#chats {
    background-color: lime;
    height: 100%;
    width: 34%;
}

section#profile-user {
    height: 50px;
}

div#user img {
    height: 35px;
}

div#user span {
    font-size: .8rem;
}

section#conversation {
    background-color: aqua;
    height: 100%;
    width: 66%;
}



